.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.resetButton {
	margin-top: 20px;
	padding: 10px 20px;
	background: #444;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	font-size: 16px;
}

.resetButton:hover {
	background: #222;
}
